<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="mainPart">
<div class="error">
    <h1>ERROR</h1></div>
    <P>Leider können wir die von Ihnen gewünschte Funktion nicht durchführen.<br>
    Das Problem wird in Kürze behoben!</P>

    <p>Hier geht es wieder <a href="/">zurück zur Homepage</a></p>
</div>
</body>
</html>