<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<section class="mainPart">
    <h1>Wetter in {{name}}</h1>
    <p>-------------------------------------------------------</p>
    <p>{{summary}} bei {{temperature}}째C</p>
    <p>Gef체hlte Temperatur: {{apparentTemperature}}째C</p>
    <p>-------------------------------------------------------</p>
    <p><a href="/">Zur체ck zur Homepage</a></p>
</section>

</body>
</html>