body{
    background-image: url("Background.png") ;
    background-size: cover;
}
.mainPart{
    font-family: "Neuzeit", sans-serif;
    font-weight: bold;
    position: absolute;
    color: black;
    left: 0;
    top: 15%;
    width: 100%;
    text-align: center;
    font-size: 18px;
}

h1{
    font-weight: bold;
    text-shadow: 1px 1px darkolivegreen;
    text-transform: uppercase;
    font-size: 25px;
    top: 20px;
}
.inputfield[type=text]  {
    width: 400px;
    font-size: 1em;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: white;
    background-image: url('lupeSymbol.png');
    background-position: 15px 15px;
    background-repeat: no-repeat;
    background-size: 13px 13px;
    padding: 12px 20px 12px 40px;
}


.button {
    display: inline-block;
    padding: 6px 20px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: darkolivegreen;
    border: none;
    border-radius: 10px;
    box-shadow: 0 5px #999;
}

i{
    font-size: 70px;
    color: black;
}

.error{
    font-size: 35px;
}